{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Speed Test</title>
    <style>
        header {
            color: white;
            background-color: green;
            text-align: center;
            border-radius: 0.75em;
            padding: 1.10em;
        }

        .server {
            color: white;
            padding: 2em;
            float: left;
            margin: 2em;
            border-radius: 0.75em;
            width: 40%;
        }

        .django {
            padding: 1.3em;
            background-color: darkgreen;

        }

        .expressjs {
            color: black;
            background-color: yellow;

        }

        .flask {
            padding: 1.3em;
            background-color: cornflowerblue;
        }

        .nodejs {
            background-color: green;

        }
        img {
            width: 40%;
            height: 20%;
        }
    </style>
</head>
<body>
    <header><h1>Server Speed Test</h1></header><br>
    <div class="server django">
        <form action='djserver' method='GET' id='dform'>
            <img src="{% static 'images/django.png' %}"><br>
            <b>The Django server response time is <h2>{{dspeed}} ms</h2></b><br><br>
            <button form_id='dform' type="submit">Find Speed</button>   
        </form>
    </div>
    <div class="server expressjs">
        <form action='exserver' method='GET' id='eform'>
            <img src="{% static 'images/express.png' %}"><br>
            <b>The  ExpressJS server response time is <h2>{{espeed}} ms</h2></b><br><br>
            <button form_id='eform' type="submit">Find Speed</button>   
        </form>
    </div>
    <br><br><br><br><br><br><br>
    <div class="server flask">
        <form action='fskserver' method='GET' id='fform'>
            <img src="{% static 'images/flask.png' %}"><br>
            <b>The Flask server response time is <h2>{{fspeed}} ms</h2></b><br><br>
            <button form_id='fform' type="submit">Find Speed</button>   
        </form>
    </div>
    <div class="server nodejs">
        <form action='ndserver' method='GET' id='nform'>
            <img src="{% static 'images/nodejs.png' %}"><br>
            <b>The NodeJS server response time is <h2>{{nspeed}} ms</h2></b><br><br>
            <button form_id='nform' type="submit">Find Speed</button>   
        </form>
    </div>
</body>
</html>